:root {
  --main-background-color: #ffffff;
  --secondary-background-color: #f5f4fa;
  --portfolio-buttons-color: #f5f4fa;
  --main-light-color: #ffffff;
  --main-text-color: #212121;
  --secondary-text-color: #757575;
  --main-accent-color: #2196f3;
  --secondary-accent-color: #188ce8;
  --hero-footer-background: #2f303a;
  --portffolio-background: #eeeeee;
  --hero-overlay: rgba(47, 48, 58, 0.4);
  --header-border-bottom: #ececec;
  --logo-dark-color: #000000;
  --team-social-icons: #afb1b8;
}
body {
  font-family: Roboto, sans-serif;
  font-style: normal;
  font-weight: normal;
  color: var(--main-text-color);
  background-color: var(--main-background-color);
}
h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}
img {
  display: block;
}

.page-header {
  border-bottom: 1px solid var(--header-border-bottom);
}
.page-header .container {
  display: flex;
}
.container {
  width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
  margin: 0 auto;
}
.main-nav {
  display: flex;
  align-items: center;
}
.logo-blue {
  font-family: Raleway, sans-serif;
  color: var(--main-accent-color);
  font-weight: bold;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  padding: 0;
  margin: 0;
}
.logo-dark {
  color: var(--logo-dark-color);
}
.site-nav .item:not(:last-child) {
  margin-right: 50px;
}
.site-ul {
  list-style: none;
  padding: 0;
  margin: 0;
}
.site-nav-header {
  display: flex;
}
.text-decoration-nav {
  text-decoration: none;
}
.site-nav {
  margin: 0 0 0 93px;
}
.site-nav-item {
  display: block;
  padding-top: 32px;
  padding-bottom: 32px;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--main-text-color);
}
.site-nav-item:hover,
.site-nav-item:focus {
  color: var(--main-accent-color);
}
.contacts-header .item + .item {
  margin-left: 50px;
}
.contacts-header {
  margin-left: auto;
}
.icon-email {
  width: 16px;
  margin-right: 10px;
}
.icon-tel {
  width: 10px;
  margin-right: 10px;
}
.contacts-item {
  display: flex;
  align-items: center;
  padding-top: 32px;
  padding-bottom: 32px;
  margin-left: auto;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--secondary-text-color);
  fill: var(--secondary-text-color);
}
.contacts-item:hover,
.contacts-item:focus {
  color: var(--main-accent-color);
  fill: var(--main-accent-color);
}
.section {
  padding-top: 94px;
  padding-bottom: 94px;
}
.section-no-padding-btm {
  padding-top: 94px;
  padding-bottom: 0;
}
.hero {
  background: var(--hero-footer-background);
  text-align: center;
  padding: 200px 0;
}
.hero-overlay {
  max-width: 1600px;
  min-height: 600px;
  margin: 0 auto;
  background-image: linear-gradient(to right, var(--hero-overlay), var(--hero-overlay)),
    url(../images/hero-bg-img.jpeg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
.hero-title {
  margin-bottom: 30px;
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: var(--main-light-color);
}
.indent {
  display: block;
}
.hero-button {
  display: inline-block;
  font-family: inherit;
  min-width: 200px;
  padding: 10px 32px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  color: var(--main-light-color);
  background-color: var(--main-accent-color);
  cursor: pointer;
  font-weight: bold;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.06em;
  border: none;
}
.hero-button:hover,
.hero-button:focus {
  color: var(--main-light-color);
  background: var(--secondary-accent-color);
}
.section-title {
  margin-top: 0;
  margin-bottom: 50px;
  font-weight: bold;
  font-size: 36px;
  line-height: 1.16;
  text-align: center;
  letter-spacing: 0.03em;
}
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}
.feature-list {
  display: flex;
  flex-wrap: wrap;
}
.feature-list .item {
  width: 270px;
}
.feature-list .item:not(:last-child) {
  margin-right: 30px;
}
.item .features-icon {
  background-color: var(--portfolio-buttons-color);
  padding-top: 25px;
  padding-bottom: 25px;
  margin-bottom: 30px;
  border-radius: 4px;
  width: 270px;
}
.features-icon .icon {
  width: 270px;
  margin: 0 auto;
}
.features-title {
  margin-top: 0;
  margin-bottom: 10px;
  font-weight: bold;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--main-text-color);
}
.features-description {
  margin-top: 0;
  margin-bottom: 0;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--secondary-text-color);
}
.work-list {
  display: flex;
}
.work-list .item {
  flex-basis: calc((100% - 90px) / 3);
}
.work-list .item:not(:last-child) {
  margin-right: 30px;
}
.our-team {
  background-color: var(--secondary-background-color);
}
.team-list {
  display: flex;
  flex-wrap: wrap;
}
.team-list .item:not(:last-child) {
  margin-right: 30px;
}
.team-card {
  flex-basis: calc((100% - 120px) / 4);
  background: var(--main-light-color);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}
.team-wrapper {
  padding: 30px 0;
}
.team-item-title {
  margin-top: 0;
  margin-bottom: 10px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
  letter-spacing: 0.03em;
}
.team-iteam-description {
  margin-bottom: 16px;
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--secondary-text-color);
}
.team-social {
  display: flex;
  justify-content: center;
}
.team-social-item .social-link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  background-position: center;
  fill: var(--team-social-icons);
}
.team-social-item:not(:last-child) {
  margin-right: 10px;
}
.team-social-item .social-link:hover,
.team-social-item .social-link:focus {
  border-radius: 50px;
  background-color: var(--main-accent-color);
  fill: var(--main-light-color);
}
.clients-list {
  display: flex;
  flex-wrap: wrap;
}
.clients-item {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 170px;
  height: 92px;
  margin-right: 30px;
  border: 1px solid var(--team-social-icons);
  box-sizing: border-box;
  border-radius: 4px;
  fill: var(--team-social-icons);
}
.clients-item:nth-child(6n + 6) {
  margin-right: 0px;
}
.clients-item:hover,
.clients-item:focus {
  fill: var(--main-accent-color);
  border-color: var(--main-accent-color);
}
.page-footer {
  padding: 60px 0;
  background-color: var(--hero-footer-background);
}
.logo-light {
  color: var(--main-light-color);
  margin-bottom: 20px;
}
.address {
  font-style: normal;
  margin-top: 20px;
}
.footer-address {
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--main-light-color);
}
.footer-contacts-list {
  margin-top: 9px;
}
.footer-contacts-item {
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
}
.footer-contacts-item:hover,
.footer-contacts-item:focus {
  color: var(--main-accent-color);
}
.social-title {
  font-weight: bold;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--main-light-color);
}
.footer-section {
  display: flex;
  align-items: baseline;
}
.social-list-footer {
  display: flex;
}
.social-item-footer .social-link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  background-color: rgba(255, 255, 255, 0.1);
  background-position: center;
  position: relative;
  fill: var(--main-light-color);
}
.social-item-footer .social-link:hover,
.social-item-footer .social-link:focus {
  background-color: var(--main-accent-color);
}
.social-list-footer :not(:last-child) {
  margin-right: 10px;
}
.address-section {
  margin-right: 70px;
}
.social-title {
  margin-bottom: 20px;
  font-weight: bold;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--main-light-color);
}
.current {
  color: var(--main-accent-color);
}
.section-ul {
  margin-bottom: 50px;
  margin-top: 0;
}
.button-list {
  display: flex;
  justify-content: center;
}
.button-list .item:not(:last-child) {
  margin-right: 8px;
}
.portfolio-button {
  display: inline-block;
  font-family: inherit;
  min-width: 73px;
  padding: 6px 22px;
  background-color: var(--portfolio-buttons-color);
  cursor: pointer;
  border-radius: 4px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  text-align: center;
  letter-spacing: 0.03em;
  border: none;
}
.active {
  color: var(--main-light-color);
  background-color: var(--main-accent-color);
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
  border-radius: 4px;
}
.portfolio-button:hover,
.portfolio-button:focus {
  color: var(--main-light-color);
  background-color: var(--main-accent-color);
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
  border-radius: 4px;
}
.portfolio-list {
  display: flex;
  flex-wrap: wrap;
}
.portfolio-list .item {
  width: 370px;
  margin-right: 30px;
  margin-bottom: 30px;
}
.portfolio-list .item:nth-child(3n) {
  margin-right: 0;
}
.portfolio-list .item:nth-last-child(-n + 3) {
  margin-bottom: 0;
}
.portfolio-card {
  flex-basis: calc((100% - 90px) / 3);
  background: var(--main-light-color);
}
.portfolio-card:hover,
.portfolio-card:focus {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
    1px 4px 6px rgba(0, 0, 0, 0.16);
}
.portfolio-wrapper {
  padding: 20px 24px;
  border: 1px solid var(--portffolio-background);
  border-top: none;
}
.portfolio-title {
  margin-top: 0;
  margin-bottom: 4px;
  font-weight: bold;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
}
.portfolio-description {
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.03em;
  color: var(--secondary-text-color);
}
